@font-face {
    font-family: 'Work Sans';
    src: url(./fonts/WorkSans-Regular.ttf);
}
@font-face {
    font-family: 'Space Mono';
    src: url(./fonts/SpaceMono-Regular.ttf);
}

*{
    box-sizing: border-box;
}

body{
    background-color: #2B2B2B;
}

@media only screen and (max-width: 992px) {
    h1{
        font-size: 28px !important;
        margin-top: 40px !important;
    }
    .cont2{
        display: none !important;
    }
    .content > div > p{
        font-size: 16px !important;
    }
    .button_div{
        display: none !important;
    }
    .button_div1 > button{
        width: 100% !important;
    }
    .followers{
        display: none !important;
    }
    .giff > img{
        height: unset !important;
    }
    .for_mobile{
        display: inline !important;
    }
    .burger{
        display: inline-block !important;
    }
    .section2{
        margin-top: 80px !important;
    }
    .sec2_container{
        padding-right: 0px !important;
    }
    .MrFox{
        display: flex;
        justify-content: center;
    }
    .sec2_header h3{
        font-size: 28px !important;
    }
    .sec2_header p{
        font-size: 16px !important;
    }
    .section3{
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        margin-top: 82px !important;
    }
    .sec3_header h3{
        font-size: 28px !important;
    }
    .sec3_header p{
        font-size: 16px !important;
    }
    .sec3_main_div{
        margin-top: 20px !important;
    }
    .sec3_button{
        display: none !important;
    }
    .profiles{
        padding-top: 0px !important;
        margin-top: unset !important;
    }
    .prof1{
        margin-top: unset !important;
    }
    .mushrooms, .people{
        display: none !important;
    }
    .profiles{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .profile_name{
        text-align: left !important;
    }
    .prof_img{
        width: 60px;
        height: 60px;
        margin-right: 20px;
        margin-top: 20px;
    }
    .prof{
        display: none !important;
    }
    .prof1{
        margin-top: 20px !important;
    }
    .sec3_button1{
        display: inline !important;
        margin-top: 40px;
    }
    .sec3_button1 > button{
        width: 100%;
    }
    .number{
        display: none !important;
    }
    .number1{
        display: flex !important;
        justify-content: center;
        align-items: center;
        position: absolute !important;
        top: 13px !important;
        left: -8px !important;
    }
    .description h5{
        font-size: 16px !important;
    }
    .front_image{
        left: 50%;
        top: 15% !important; 
        transform: translateX(-50%);
    }
    .front_image > img{
        width: 80px !important;
        height: 80px !important;
    }
    .category1{
        margin-top: 20px !important;
    }
    .first_category{
        height: 142px !important;
    }
    .second_category{
        height: 142px !important;
    }
    .third_category{
        height: 142px !important;
    }
    .fourth_category{
        height: 142px !important;
    }
    .fifth_category{
        height: 142px !important;
    }
    .sixth_category{
        height: 142px !important;
    }
    .seventh_category{
        height: 142px !important;
    }
    .eighth_category{
        height: 142px !important;
    }
    .sports{
        padding-bottom: 47px !important;
    }
    .sec4_title h3{
        font-size: 28px !important;
        margin-top: 80px !important;
    }
    .section5{
        margin-top: 80px !important;
    }
    .sec5_header h3{
        font-size: 28px !important;
        margin-top: 0px !important;
    }
    .sec5_header p{
        font-size: 16px !important;
    }
    .sec5_card{
        margin-top: 20px; 
    }
    .sec5_button {
        display: none;
    }
    .sec5_button1{
        display: block !important;
    }
    .sec5_button1 button{
        width: 100%;
        margin-top: 40px;
    }
    .section6{
        background-image: url(./images/mobile_background.png) !important;
    }
    .sec6_body{
        display: flex;
        justify-content: center;
        margin-top: 120px !important;
    }
    .sec6_content{
        display: unset !important;
    }
    .column{
        justify-content: unset !important;
    }
    .column h2{
        font-size: 38px !important;
        margin-top: 30px;
    }
    .timer{
        width: 100% !important;
    }
    .nft_button{
        display: none;
    }
    .nft_button2{
        display: block !important;
        margin-top: 20px;
        width: 100% !important;
    }
    .nft_button2 button{
        width: 100% !important;
    }

    .sec7_header h3{
        font-size: 28px !important;
    }
    .sec7_header p{
        font-size: 16px !important;
    }
    .card1{
        display: flex !important;
        padding: 20px !important;
        margin-bottom: 20px !important;
    }
    .card1 div img{
        width: 100px;
        height: 100px;
        margin-top: 8px !important;
    }
    .card1 div h5{
        font-size: 16px;
        text-align: left;
        margin-left: 20px;
    }
    .card1 div p{
        font-size: 12px;
        width: 155px;
        text-align: left;
        margin-left: 20px;
    }

    .sec8_body{
        background: none !important;
        padding: 0px !important;
        display: unset !important;
    }
    .sec8_body div img{
        width: 315px;
        height: 255px;
    }
    .sec8_body div{
        padding: 0px !important;
        width: unset !important;
    }
    .sec8_body div h3{
        font-size: 29px !important;
    }
    .sec8_body div p{
        font-size: 16px !important;
    }
    .input_div{
        position: unset !important;
    }
    .input_div input{
        width: 100% !important;
        padding: 12px 20px !important;
    }
    .input_div button{
        width: 100% !important;
        position: unset !important;
        margin-top: 16px !important;
        padding: 12px 102px !important;
    }
    .input_div button img{
        width: 20px;
        height: 100%;
    }
    .astro{
        width: 100% !important;
    }
    .footer_body p{
        width: 100% !important;
    }
    .footer_body h5{
        margin-top: 30px !important;
    }
    .footer_body div img{
        margin-top: 20px;
    }
    .footer_button{
        position: unset;
    }
    .footer_button input{
        width: 100% !important;
        padding: 12px 20px !important;
    }
    .footer_button button{
        width: 100% !important;
        position: unset !important;
        margin-top: 16px !important;
        padding: 12px 102px !important;
    }

    .reg_title > h2{
        margin-top: 30px !important;
        font-size: 38px !important;
    }
    .reg_title > p{
        font-size: 16px !important;
    }
    .form{
        width: 100%;
    }
    .form > div > input{
        width: 100% !important;
    }
    .submit_btn{
        margin-bottom: 40px;
    }
    .reg_image{
        height: unset !important;
    }
    .reg_inputs{
        display: flex;
        justify-content: center;
    }
    .navbar-nav{
        align-items: unset !important;
        margin-top: 20px !important;
        gap: 15px !important;
    }
}

.navbar-brand{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;
}
ul{
    gap: 20px !important;
    margin-left: auto;
}
li > a{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px !important;
    line-height: 140%;
    color: #FFFFFF !important;
    text-decoration: none;
}

.nav_button{
    background-color:#A259FF;
    border-radius: 20px;
    padding: 10px 30px;
    border:none;
}

.nav_button > img{
    margin-right: 12px;
}
.nav_button > a{
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px ;
    line-height: 140%;
    color: #FFFFFF;
}

.content > div > h1{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 69px;
    line-height: 110%;
    color: #FFFFFF;
}
.content > div > p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    color: #FFFFFF;
    margin-top: 20px;
}

.giff > img{
    width: 100%;
    height: 510px;
}

.followers{
    margin-top: 30px;
}
.followers > div > h4{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    color: #FFFFFF;
}
.followers > div > p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 23.99px;
    line-height: 160%;
    color: #FFFFFF;
    margin-top: 0px;
}

.img1_container > img{
    width: 100%;
}
.img1_container{
    background-color: #3B3B3B;
    padding: 0px;
    border-radius: 20px;
}
.img1_container > h5{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    color: #FFFFFF;
    margin-top: 22px;
    margin-left: 20px;
}
.img1_container > p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    padding-bottom: 24px;
}
.img1_container > p > img{
    margin-right: 12px;
    margin-left: 20px;
}

.section1_button{
    background-color:#A259FF;
    padding: 19px 50px;
    border-radius: 20px;
    margin-top: 30px;
    border: none;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

.section1_button > img{
    margin-right: 12px;
}
.for_mobile{
    display: none;
}

.followers_mobile{
    margin-top: 30px;
}
.followers_mobile > div > h4{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
    color: #FFFFFF;
}
.followers_mobile > div > p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    margin-top: 0px;
}

.section2{
    margin-top: 160px;
}

.sec2_header h3{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 120%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.sec2_header p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.amount {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background: #A259FF;
    border-radius: 20px;

}
.amount > h5{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.image_footer > div > h5{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-top: 15px;
}
.image_footer > div > p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    margin-top: 10px;
}
.section3{
    padding-top: 80px;
    padding-bottom: 80px;
}
.sec3_header h3{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 120%;
    text-transform: capitalize;
    color: #FFFFFF;
}
.sec3_header p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.sec3_button button{
    margin-top: 31px;
    margin-left: auto;
    border: 2px solid #A259FF;
    border-radius: 20px;
    padding: 19px 50px;
    background-color: inherit;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

.profiles{
    padding: 20px;
    background: #3B3B3B;
    border-radius: 20px;
    text-align: center;
    position: relative;
}
.number{
    width: 30px;
    height: 30px;
    background: #2B2B2B;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    position: absolute;
    left: 20px;
    top: 18px;
}
.number span{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #858584;
}
.number1{
    display: none;
    width: 30px;
    height: 30px;
    background: #2B2B2B;
    border-radius: 20px;
    margin-right: 10px;
}
.number1 > span{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #858584;
}
.profile_name{
    margin-top: 20px;
}
.profile_name h5{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.profile_info > p{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 0px;
    text-align: left;
}
.profile_info > p > span{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #858584;
    margin-right: 10px;
}
.sec3_button1{
    display: none;
}
.sec3_button1 button{
    margin-top: 31px;
    margin-left: auto;
    border: 2px solid #A259FF;
    border-radius: 20px;
    padding: 19px 50px;
    background-color: inherit;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

.category1{
    position: relative;
    background: #3B3B3B;
    padding: 0px;
    border-radius: 20px;
    margin-top: 30px;
    overflow: hidden;
}
.first_category{
    height: 240px;
    background-image: url(./images/whales.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(7.5px);
}
.second_category{
    height: 240px;
    background-image: url(./images/monkey.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(7.5px);
}
.third_category{
    height: 240px;
    background-image: url(./images/guitar.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(7.5px);
}
.fourth_category{
    height: 240px;
    background-image: url(./images/old_man.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(7.5px);
}
.fifth_category{
    height: 240px;
    background-image: url(./images/sky.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(7.5px);
}
.sixth_category{
    height: 240px;
    background-image: url(./images/key.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(7.5px);
}
.seventh_category{
    height: 240px;
    background-image: url(./images/ball.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(7.5px);
}
.eighth_category{
    height: 240px;
    background-image: url(./images/space_city.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(7.5px);
}
.front_image{
    position: absolute;
    left: 50%;
    top: 22%; 
    transform: translateX(-50%);
}
.front_image > img{
    width: 100px;
    height: 100px;
}
.description h5{
    margin: 0px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    text-transform: capitalize;
    color: #FFFFFF;
}
.description{
    padding: 20px 30px 25px 30px;
}
.sec4_title h3{
    margin-top: 160px;
    margin-bottom: 40px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 120%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.section5{
    margin-top: 160px;
}
.sec5_header h3{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 120%;
    text-transform: capitalize;
    color: #FFFFFF;
}
.sec5_header p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.sec5_button button{
    margin-top: 31px;
    margin-left: auto;
    border: 2px solid #A259FF;
    border-radius: 20px;
    padding: 19px 50px;
    background-color: inherit;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

.sec5_card{
    background: #3B3B3B;
    border-radius: 20px;
    padding: 0px;
    
}
.texts{
    padding: 20px 30px 25px 30px;
}
.texts div h5{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 5px;
}
.texts div p{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 27px;
}
.texts div p img{
    margin-right: 12px;
}

.bidding{
    display: flex;
    justify-content: space-between;
}
.bidding div span{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;
    color: #858584;
}
.bidding div p{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 0px;
}

.sec5_button1 button{
    border: 2px solid #A259FF;
    border-radius: 20px;
    padding: 19px 50px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}
.sec5_button1{
    display: none;
}

.section6{
    margin-top: 80px;
    margin-bottom: 80px;
    background-image: url(./images/big_mushroom.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0px;
}

.sec6_background{
    width: 100%;
    background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #A259FF 100%);
    height: 640px;
}
.sec6_body{
    height: 580px; 
    display: flex; 
    align-items: flex-end;
}
.sec6_content{
    width: 100%;
    display: flex;
    align-items: flex-end;
}
.column{
    height: 220px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.button_like{
    width: 160px;
    background: #3B3B3B;
    border-radius: 20px;
    padding: 10px 20px;
}
.button_like img{
    width: 24px;
    height: 24px;
    margin-right: 12px;
}
.button_like span{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

.column h2{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 51px;
    line-height: 110%;
    text-transform: capitalize;
    color: #FFFFFF;
}
.nft_button button{
    width: 198px;
    padding: 19px 50px;
    border-radius: 20px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #2B2B2B;
}

.timer{
    margin-left: auto;
    width: 295px;
    height: 144px;
    background: rgba(59, 59, 59, 0.5);
    border-radius: 20px;
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.timer div h3{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 120%;
    text-transform: capitalize;
    color: #FFFFFF;
}
.timer div h4{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    text-transform: capitalize;
    color: #FFFFFF;

}

.timer p{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;
    color: #FFFFFF;
}
.timer div p{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;
    color: #FFFFFF;
}

.nft_button2{
    display: none;
}
.nft_button2 button{
    width: 198px;
    padding: 19px 50px;
    border-radius: 20px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #2B2B2B;
}

.section7{
    margin-top: 80px;
    margin-bottom: 80px;
}
.sec7_header h3{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 120%;
    text-transform: capitalize;
    color: #FFFFFF;
}
.sec7_header p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.card1{
    padding: 10px 30px 30px 30px;
    background: #3B3B3B;
    border-radius: 20px;
    margin: 0px;
}

.card1 h5{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}
.card1 p{
    width: 270px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
}

.section8{
    margin-bottom: 80px;
}
.sec8_body{
    padding: 60px;
    background: #3B3B3B;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}
.sec8_body div h3{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 120%;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-top: 19px;
}
.sec8_body div p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.input_div{
    position: relative;
    margin-top: 40px;
}
.input_div input{
    padding: 19px 220px 19px 20px;
    background: #FFFFFF;
    border-radius: 20px;
    width: 100%;
}
.input_div button{
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;

    width: 211px;
    background: #A259FF;
    border-radius: 20px;
    border: none;
    padding: 19px 50px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    display: flex;
}
.input_div button img {
    margin-right: 12px;
}

footer{
    background: #3B3B3B;
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer_body{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer_body a, div a{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;
    text-transform: capitalize;
    color: #FFFFFF;
}
.footer_body a{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #CCCCCC;
}
.footer_body h5{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;
}

.footer_button{
    position: relative;
}
.footer_button input{
    width: 100%;
    background: #FFFFFF;
    border-radius: 20px;
    padding: 19px 200px 19px 20px;
}
.footer_button button{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;

    width: 179px;
    background: #A259FF;
    border-radius: 20px;
    padding: 19px 50px;
    border: none;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
}

hr{
    border: 1px solid #858584;
    margin-top: 30px;
}

.ending{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;
    color: #CCCCCC;
}

.registration{
    padding: 0px;
}
.reg_title > h2{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 51px;
    line-height: 110%;
    text-transform: capitalize;
    color: #FFFFFF;
}
.reg_title > p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 40px;
}

.form > div > input{
    width: 330px;
    background: #FFFFFF;
    border: 1px solid #858584;
    border-radius: 20px;
    padding: 12px 20px 12px 52px;
}

.input1{
    background-image: url(./images/User_icon.svg) !important;
    background-repeat: no-repeat !important;
    background-position-y: center !important;
    background-position-x: 20px !important;
}
.input2{
    background-image: url(./images/EnvelopeSimple_icon.svg) !important;
    background-repeat: no-repeat !important;
    background-position-y: center !important;
    background-position-x: 20px !important;
}
.input3{
    background-image: url(./images/LockKey.svg) !important;
    background-repeat: no-repeat !important;
    background-position-y: center !important;
    background-position-x: 20px !important;
}

.submit_btn{
    background: #A259FF !important;
    padding: 12px 0px !important;
    margin-top: 30px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

.profile_section{
    margin: 0 auto;
}
.profile_image{
    bottom: -50px;
    left: 10%;
    transform: translateX(-10%);
}
.animakid{
    margin-top: 50px;
    width: 1050px;
}
.animakid h1{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 51px;
    line-height: 110%;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-top: 40px;
}

.achievements h4{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 0px;
}
.achievements span{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.profile_description h5{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;
    text-transform: capitalize;
    color: #858584;
    margin-top: 30px;
    margin-bottom: 0px;
}
.profile_description p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.NFT_button{
    background: #A259FF;
    border-radius: 20px;
    padding: 19px 20px;
    width: 186px;
    border: none;
}
.NFT_button1{
    border: 2px solid #A259FF;
    width: 186px;
    padding: 19px 20px;
    border-radius: 20px;
    background: inherit;
}