@font-face {
    font-family: 'Work Sans';
    src: url(./fonts/WorkSans-Regular.ttf);
}
@font-face {
    font-family: 'Space Mono';
    src: url(./fonts/SpaceMono-Regular.ttf);
}

*{
    box-sizing: border-box;
}

body{
    background-color: #2B2B2B;
}

@media only screen and (max-width: 992px) {
    h1{
        font-size: 28px !important;
    }
    .cont2{
        display: none !important;
    }
    .content > div > p{
        font-size: 16px !important;
    }
    .button_div{
        display: none !important;
    }
    .button_div1 > button{
        width: 100% !important;
    }
    .followers{
        display: none !important;
    }
    .for_mobile{
        display: inline !important;
    }
    .burger{
        display: inline-block !important;
    }
    .section2{
        margin-top: 80px !important;
    }
    .sec2_header h3{
        font-size: 28px !important;
    }
    .sec2_header p{
        font-size: 16px !important;
    }
    .sec3_header h3{
        font-size: 28px !important;
    }
    .sec3_header p{
        font-size: 16px !important;
    }
    .sec3_button{
        display: none !important;
    }
    .mushrooms, .people{
        display: none !important;
    }
    .profiles{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .profile_name{
        text-align: left !important;
    }
    .prof_img{
        width: 60px;
        height: 60px;
        margin-right: 20px;
    }
    .prof{
        display: none !important;
    }
    .prof1{
        margin-top: 20px !important;
    }
    .sec3_button1{
        display: inline !important;
        margin-top: 40px;
    }
    .sec3_button1 > button{
        width: 100%;
    }
}



.cont1 > img{
    margin-right: 12px;
}
.cont1 > div > p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

.cont2 > a{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    text-decoration: none;
}

.nav_button{
    background-color:#A259FF;
    border-radius: 20px;
    padding: 0px 30px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

.nav_button > img{
    margin-right: 12px;
}

.content > div > h1{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 69px;
    line-height: 110%;
    color: #FFFFFF;
}
.content > div > p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    color: #FFFFFF;
    margin-top: 20px;
}

.giff > img{
    width: 100%;
    height: 510px;
}

.followers{
    margin-top: 30px;
}
.followers > div > h4{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    color: #FFFFFF;
}
.followers > div > p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 23.99px;
    line-height: 160%;
    color: #FFFFFF;
    margin-top: 0px;
}

.img1_container > img{
    width: 100%;
}
.img1_container{
    background-color: #3B3B3B;
    padding: 0px;
    border-radius: 20px;
}
.img1_container > h5{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    color: #FFFFFF;
    margin-top: 22px;
    margin-left: 20px;
}
.img1_container > p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    padding-bottom: 24px;
}
.img1_container > p > img{
    margin-right: 12px;
    margin-left: 20px;
}

.section1_button{
    background-color:#A259FF;
    padding: 19px 50px;
    border-radius: 20px;
    margin-top: 30px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

.section1_button > img{
    margin-right: 12px;
}
.for_mobile{
    display: none;
}

.followers_mobile{
    margin-top: 30px;
}
.followers_mobile > div > h4{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
    color: #FFFFFF;
}
.followers_mobile > div > p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    margin-top: 0px;
}

.section2{
    margin-top: 160px;
}

.sec2_header h3{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 120%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.sec2_header p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.amount {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background: #A259FF;
    border-radius: 20px;

}
.amount > h5{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.image_footer > div > h5{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-top: 15px;
}
.image_footer > div > p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    margin-top: 10px;
}
.section3{
    padding-top: 80px;
    padding-bottom: 80px;
}
.sec3_header h3{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 120%;
    text-transform: capitalize;
    color: #FFFFFF;
}
.sec3_header p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.sec3_button button{
    margin-top: 31px;
    margin-left: auto;
    border: 2px solid #A259FF;
    border-radius: 20px;
    padding: 19px 50px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

.profiles{
    padding: 20px;
    background: #3B3B3B;
    border-radius: 20px;
    text-align: center;
    position: relative;
}
.number{
    width: 30px;
    height: 30px;
    background: #2B2B2B;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    position: absolute;
    left: 20px;
    top: 18px;
}
.number span{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #858584;
}
.profile_name{
    margin-top: 20px;
}
.profile_name h5{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.profile_info > p{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 0px;
}
.profile_info > p > span{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #858584;
    margin-right: 10px;
}
.sec3_button1{
    display: none;
}
.sec3_button1 button{
    margin-top: 31px;
    margin-left: auto;
    border: 2px solid #A259FF;
    border-radius: 20px;
    padding: 19px 50px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}