*{
    box-sizing: border-box;
}

body{
    background-color: #2B2B2B;
}

.container > p{
    color: #FFFFFF;
}
.container > a{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;   
}

.btn{
    background-color: #A259FF;
    padding: 0px 30px;
    border-radius: 20px !important;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}